
/*start reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

body{
	background-color: white;
}

main{
	margin: 30px auto;
}

.box-one, .box-two, .box-three{
	width: 301px;	
	height: 101px;
	margin: 30px;
	text-align: center;
	position: relative;
	display: inline-block;
}

.box-one{
	background-color: #ffa500;
	box-shadow: 5px 5px 15px #d7d7d7;
}

.box-two{
	background-color: white;
	box-shadow: 0px 0px 10px black;
}

.box-three{
	text-align: left;
}

.fake-one, .fake-two, .fake-three{
	width: 290px;	
	height: 90px;
	display: table;
}

h1, h2{
	font-size: 25px;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
}

h1{
	color: black;
	text-shadow: 5px 3px 3px white;
	
}

h2{
	color: #ff0000;
	text-shadow: 0px 0px 9px green;
}

h3{
	color: black;
	display: table-cell;
	vertical-align: top;
}