/*Направете сайт, пригоден за десктоп браузъри, който изглежда както дизайна в 
09-Adaptive-Design-Tasks\task_desktop.png
Използвайки наученото за адаптивния дизайн, направете вече готовия десктоп сайт да изглежда, 
както дизайна в 09-Adaptive-Design-Tasks\task_tablet.png при ширина по-малка от 768px.*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET*/


*{
	box-sizing: border-box;
}


body{
	font-family: arial, sans-serif;
	font-size: 13px;
	color: black;
}


main{
	width: 1349px;
	margin: 0 auto;
	position: relative;
}




header{
	width: 100%;
	margin-bottom: 25px;
}

div #logo_text{
	background-color: #555;
	height: 87px;
	padding: 25px 21px;
	color: white;
	font-size: 35px;
}

nav{
	margin-bottom: 35px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    font-family: arial, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 17px 11px;
    text-decoration: none;
}

li a:hover {
    background-color: #fb0404;
}

#sectionFirst, #sectionSecond, #sectionThird{
	float: left;
	line-height: 150%;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
	margin-bottom: 130px;
}

#heading-1{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 15px;
	position: relative;
}

#heading-1::after{
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ddd;
	margin-bottom: 15px;
	position: absolute;
	top:230%;
}

#text-heading-1{
	margin-top: 61px;
	margin-bottom: 61px;
	position: relative;
}

#text-heading-1::after{
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ddd;
	margin-bottom: 15px;
	position: absolute;
	top:24%;
	margin-top: 150px;
}

#heading-3, #heading-4{
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: bold;
}

#sectionFirst{
	width: 45%;
	margin-left: 2%;
	margin-top: 19px;
}


#box{
	width: 100%;
	height: 270px;
	background-image: url(images/fly.jpg);
	background-size: 100%;
}

#sectionSecond{
	width: 19%;
	margin-left: 3%;
}

#sectionThird{
	width: 20%;
	margin-left: 4%;
}

footer{
	width: 100%;
	height: 80px;
	color: white;
	background-color: #000;
	position:fixed;
    left:0px;
    bottom:0px;
}

.vertical-align{
	width: 30%;
    height: 100%;
	display: table;
	margin-left: 2%;
}

footer p{
	display: table-cell;
	vertical-align: middle;
}







@media screen and (max-width: 768px){
main{
	width: 746px;
}

ul {
    padding-left: 5px;
}

li {
    float: none;
}

a {
    display: block;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid grey;
}

#sectionFirst{
	width: 100%;
	margin-bottom: 33px;
}

#box{
	background-image:url(images/earth.jpg);
}

#sectionSecond{
	width: 100%;
	margin-bottom: 33px;
}

#sectionThird{
	width: 100%;
	margin-bottom: 33px;
}

#text-heading-1::after{
	display: none;
}

.clearfix:after{
	margin-bottom: 0px;
}

footer{
	height: 50px;
	position: static;
}

.vertical-align:hover{
	font-size: 21px;
}

#heading-4:hover, #heading-3:hover, #heading-2:hover{
	font-size: 31px;
	color: red;
}

#heading-1:hover{
	font-size: 55px;
	color: red;
}

    





