/*Направете функция конструктур, която да създава инстанция на обект от бутон. 
Бутонът трябва да има цвят, бекграунд, border-radius и специфичен текст.
Сложете полета, през които потребителя да въвежда характеристиките на бутона. Добавете бутон, който при натискане да създава динамично бутон с въведените характеристики в инпутите.
При натискане на бутона (за създаване на бутон) трябва да се създава инстанция на обекта бутон и да се извиква неговия метод за генериране.
Примерът е сходен на разгледания в упражнението - 11-3.JS-OOP - boxes as objects */

body{
	background-color: #ffe6e6;
}

header{
	margin-bottom: 35px;
}

button{
	/*float: left;*/
	width: 155px;
	height: 35px;
	margin-right: 35px;
	border: none;
}

#create-button-btn {
	width: 155px;
	height: 35px;
	border-radius: 15px;
	border: none;
}